---
layout: default
refactor: true
---

{% include lang.html %}

<div class="px-1">
  <h1 class="dynamic-title">
    {{ page.title }}
  </h1>

  <div class="content">
    {{ content }}
  </div>

  <div class="friend-links">
    {% for friend in site.data.friends %}
      <div class="friend-card">
        <div class="friend-avatar">
          <img src="{{ friend.avatar }}" alt="{{ friend.name }}" loading="lazy">
        </div>
        <div class="friend-info">
          <div class="friend-name">
            <a href="{{ friend.url }}" target="_blank" rel="noopener noreferrer">{{ friend.name }}</a>
          </div>
          <div class="friend-desc">{{ friend.description }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
